.indexbody {
    font-family: 'Lucida Sans';
    text-align: center;
    color: rgb(255, 240, 247);
    background: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.indexbody a {
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(255, 240, 247);
}

.indexbody a:hover {
    color: rgb(255, 240, 247);
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.about {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); 
    background: linear-gradient(to right, #b92b27, #1565c0); 
    font-family: 'Lucida Sans';
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.orderdList {
    text-align: left;
    display: inline-block;
}

.unorderdList {
    text-align: left;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

.blog {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); 
    background: linear-gradient(to right, #b92b27, #1565c0); 
    font-family: 'Lucida Sans';
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.blog article {
    border: solid;
}

.blog header {
    font-size: 150%;
}

.contact {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); 
    background: linear-gradient(to right, #b92b27, #1565c0); 
    font-family: 'Lucida Sans';
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.contact form {
    text-align: left;
}

nav a {
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}

nav a:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.question {
    margin-left: 32px;
}

.nameInput {
    margin-left: 25px;
}
